* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/* header */
header {
    background-color: #004080;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    /* padding: 5px 2%; */
    padding-top: 0;
    padding-bottom: 0;
}


header #logo {
    height: 45%;
    /* margin-right: 20px; */
}

#text-head {
    color: white;
    /* padding-right: 10%; */

}

.ecors-fullname {
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.ecors-button-signout {
    color: white;
    padding: 5px 5px;
    background-color: #317fce;
    border-radius: 7px;
    border-style: none;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: #00000022 0px 2px 5px;
}
/*-----------------body--------------------------*/

.ecors-declared-plan {
  padding: 1rem 2rem 0 ;

}

section {
    margin: 2rem auto;
    width: 90%;
    background: #fff;
    border-radius: 8px;
    padding: 1rem 2rem;
    box-shadow: 0 2px 6px #0000001a;
}
/*dropdown*/

section h2 {
  margin-bottom: 10px;
}

  .ecors-dropdown-plan {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }

  .ecors-button-declare {
    display: none;
    margin-top: 10px;
    background: #707477;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

  }


  .ecors-button-declare.plan-selected  {
    display: inline-block;
    background: #1d5c8d;
  }


  .ecors-button-declare.plan-selected:hover {
    background: #184f79;
  }

  .declare-wrapper {
    width: 100%;
    max-width: 600px;
  }

  h3 {
  padding: 2rem 2rem 0 2rem;
}

.ecors-button-change {
  margin-top: 10px;
  background: #707477;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.ecors-button-cancel {
  margin-top: 10px;
  background: #1d5c8d;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.ecors-button-cancel:hover {
  background: #184f79;
}

.ecors-button-change.plan-selected {
  background: #1d5c8d;
}

.ecors-button-change.plan-selected:hover {
  background: #184f79;
}

.ecors-button-keep {
  margin-top: 10px;
  background: #1d5c8d;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}



/*-----------------footer-------------------------------*/

footer {
    height: 60px;
    background-color: #004080;
    color: #f2f2f2;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/*------------------------------------------------*/

/*dialog*/
.ecors-dialog {
  padding: 20px;
}

.ecors-dialog[open] {
  display: flex;
  position: absolute;
  left: 33%;
  right: 33%;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ecors-dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);  /* ปรับความมืดได้ */
}
.ecors-dialog-message {
  font-size: 16px;
  /* margin-bottom: 20px; */
}

.ecors-button-dialog {
  margin-top: 15px;
  background: #1d5c8d;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  align-self: flex-start;
}

.ecors-button-dialog:hover {
  background: #184f79;
}
